{% extends 'account/email.html' %}

{% block contents %}
<h3>Hi {{ user }},</h3>

<p>Welcome to Lending Family Tree, update your account password with the link below</p>

<a class="btn" href="http://{{ domain }}{% url 'account:activate' uidb64=uid token=token %}">Verify</a>

<strong>If the above button does not work copy and paste the link below in your browser</strong>
<p class="link-copy">http://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}</p>

<p>Do not share this link with anyone else, it might compromise your security, keep it undisclosed.</p>

<p>Team Lending Family Tree<br>{{from}}</p>
{% endblock contents %}